@import url('https://fonts.googleapis.com/css?family=Arimo');

/*html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}
/*This will seperate my content from any paragraphs I many want to write.
IT WILL BE DROP DOWN UNDER THE IMAGE*/
/*.intro {
   height: 100%;
   width: 100%;
   margin: auto;
   background: url(../images/standalone.jpeg) no-repeat 50% 50%;
   display: table;
   top: 0;
   background-size: cover;
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  color: #fff;

}
.content h1{
     font-family: 'Raleway', sans-serif;
     color: #F9F3F4;
     text-shadow: 0px 0px 300px #000;
     font-size: 500%;
}
.btn {
    border-radius: 9px;
    font-family: 'Oswald' sans-serif;
    color: #fff;
    font-size: 135%;
    padding: 10px 20px;
    border: solid #fff 3px;
    text-transform: uppercase;
}
.btn:hover{
    color: #006699;
    border: solid #006699 3px;
}
@media screen and (max-width: 768px) {
    .content h1 {
         font-size: 250%;
    }
    .btn {
      font-size: 110%;
      padding: 7px 30px;
      transform:scale(2,3);

    }
}

/*body*/
body  {
  /*background-color: #fff;*/
  color: black;
  text-align: center;
  font-family: Arimo;
  background-color: black;

 }

  p {
   font-size: 20px;
   color: gray;


 }

 .element {
  width: 100%;
  height: 100%;
  animation: pulse 10s infinite;
}

@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #FF4136;
  }
}

html,
body {
  height: 100%;

}

h1 {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: none;
}

li a {
  display: block;
  color: gray;
  padding: 8px 16px;
  text-decoration: none;
}

/*CHANGE  THE LINK COLOR ON HOVER*/

}

li a:hover {
  background-color: #555;
  color: white;
}

.white{
  color: white;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}



@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
.bounce {
  animation-name: bounce;
}

@keyframes wobble {
  0% {transform: translateX(0%);}
  15% {transform: translateX(-25%) rotate(-5deg);}
  30% {transform: translateX(20%) rotate(3deg);}
  45% {transform: translateX(-15%) rotate(-3deg);}
  60% {transform: translateX(10%) rotate(2deg);}
  75% {transform: translateX(-5%) rotate(-1deg);}
  100% {transform: translateX(0%);}
}
.wobble {
  font-size: 20px;
  color: purple;
  animation-name: wobble;
}


.walking {
  position: relative;
    left: 580px;
    width: 110px;
    height: 110px;
    background-image: url("../images/walkcycle.gif");

    -webkit-animation: play .5s steps(5) infinite;
       -moz-animation: play .5s steps(5) infinite;
        -ms-animation: play .5s steps(5) infinite;
         -o-animation: play .5s steps(5) infinite;
            animation: play .5s steps(5) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -539px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -539px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -539px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -539px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -539px; }
}







footer {
  font-size: 75%;
  margin-top: 45px;
}


/* feedback page */

/*.tealbg {background-color: teal; }

.feedbackform {padding: 100px; }
/* background-image: ("url");
background-size */
